.section-container {
  text-align: center;
  padding: 50px 20px;
}

.profile-image-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.profile-image.blurred {
  filter: blur(5px); /* Efecto de difuminado al pasar el mouse */
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease;
}

.logo-overlay.visible {
  opacity: 1; /* Hace visible el logo al pasar el mouse */
}

@media (max-width: 768px) {
  .section-container {
    padding: 30px 10px;
  }

  .profile-image-container {
    width: 120px;
    height: 120px;
  }

  .profile-image {
    width: 100%;
    height: 100%;
  }

  .logo-overlay {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .section-container {
    padding: 20px 5px;
  }

  .profile-image-container {
    width: 100px;
    height: 100px;
  }

  .profile-image {
    width: 100%;
    height: 100%;
  }

  .logo-overlay {
    width: 60px;
    height: 60px;
  }
}
